<div class="policy-container">
  <h1 class="text-center">Return Policy</h1>
  <p>If, for any reason, you are not completely satisfied with a purchase, we invite you to review our policy on returns.</p>
  
  <h2>Order Cancellation Rights</h2>
  <p>You are entitled to cancel your order within 0-7 days without providing any reason for doing so. The deadline for cancelling an order is 0-7 days from the date on which you received the goods.</p>
  
  <h2 class="mt-4">Conditions for Returns</h2>
  <p>In order for the goods to be eligible for a return, please ensure that:</p>
  <ul>
      <li>The goods were purchased within the last 0-7 days.</li>
      <li>The goods are in the original packaging.</li>
  </ul>
  
  <h2 class="mt-4">Goods That Cannot Be Returned</h2>
  <ul>
      <li>Goods made to your specifications or clearly personalized.</li>
      <li>Goods that are not suitable for return due to health protection or hygiene reasons and were unsealed after delivery.</li>
      <li>Goods that are, after delivery, inseparably mixed with other items.</li>
  </ul>
  </div>
  