<ng-template #cartPopupModal let-modal>
  <div class="modal-header cart-popup-header">
    <div class="header-content">
      <div class="header-icon">
        <i class="ri-check-line"></i>
       
      </div>
      <h4 class="modal-title">{{ 'Added to Bag' | translate }}</h4>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="ri-close-line"></i>
    </button>
  </div>
  <div class="modal-body cart-popup-body">
    <div class="cart-header-info" *ngIf="(cartItem$ | async)?.length">
      <h5>
        <span>
          {{ (cartItem$ | async)?.length }}
          {{ ((cartItem$ | async)?.length == 1 ? 'item' : 'items') | translate }}
        </span>
        <a href="javascript:void(0)" (click)="clearCart()" class="clear-cart-link">
          {{ 'clear_cart' | translate }}
        </a>
      </h5>
    </div>

    <div class="cart-items-list" *ngIf="(cartItem$ | async)?.length">
      <div class="cart-item" *ngFor="let item of cartItem$ | async">
        <div class="item-image">
          <img [src]="item?.variation && item?.variation?.variation_image
                  ? item?.variation?.variation_image?.original_url
                  : item?.product?.product_thumbnail
                  ? item?.product?.product_thumbnail?.original_url
                  : 'assets/images/product.png'" class="img-fluid" [alt]="item?.product?.name">
        </div>
        <div class="item-details">
          <div class="item-top">
            <h6 class="item-name">{{ item?.variation ? item?.variation?.name : item?.product?.name }}</h6>
            <button type="button" class="delete-btn" (click)="delete(item.id)">
              <i class="ri-delete-bin-line"></i>
            </button>
          </div>

          <div class="item-middle">
            <div class="item-variation" *ngIf="item?.variation">
              <span>{{ item?.variation?.selected_variation }}</span>
            </div>
          </div>

          <div class="item-bottom">
            <div class="price-qty-group">
              <div class="item-price">
                {{ (item?.variation ? item.variation.sale_price : item?.product && item?.wholesale_price ?
                item?.wholesale_price : item?.product?.sale_price)! | currencySymbol }}
              </div>

              <div class="qty-box">
                <button class="qty-btn" type="button" (click)="updateQuantity(item, -1)">
                  <i class="ri-subtract-line"></i>
                </button>
                <input class="qty-input" type="text" name="quantity" [value]="item?.quantity" readonly>
                <button class="qty-btn" type="button" (click)="updateQuantity(item, 1)">
                  <i class="ri-add-line"></i>
                </button>
              </div>
            </div>

            <!-- Edit button removed for cleaner UI as per design decision, or can be re-added if critical -->
          </div>
        </div>
      </div>
    </div>

    <div class="empty-cart" *ngIf="!(cartItem$ | async)?.length">
      <div class="empty-cart-icon">
        <i class="ri-shopping-bag-3-line"></i>
      </div>
      <h5>{{ 'Your Bag is Empty' | translate }}</h5>
    </div>

    <div class="cart-summary" *ngIf="(cartItem$ | async)?.length">
      <div class="total-section">
        <h5>{{ 'Subtotal' | translate }}</h5>
        <h4 class="total-price">{{ (cartTotal$ | async)! | currencySymbol }}</h4>
      </div>
    </div>
  </div>
  <div class="modal-footer cart-popup-footer" *ngIf="(cartItem$ | async)?.length">
    <div class="footer-buttons">
      <button type="button" class="btn btn-view-cart" (click)="navigateToCart()">
        {{ 'View Bag' | translate }}
      </button>
      <button type="button" class="btn btn-checkout" (click)="navigateToCheckout()">
        {{ 'Checkout' | translate }}
      </button>
    </div>
  </div>
</ng-template>
<app-variation-modal #variationModal></app-variation-modal>