<div class="product-box" [class]="class">
    <div class="label-tag" [ngClass]="product.is_sale_enable ? 'sale-tag' : product.is_trending ?
        'trending-tag' : '' " *ngIf="product.is_trending || product.is_sale_enable">
        <span>{{ (product.is_sale_enable ? 'sale' : product.is_trending ? 'trending' : '' ) | translate }}</span>
    </div>
    <div class="product-image">
        <a [routerLink]="['/product/', product.slug]">
            <img [src]="product.product_thumbnail ?
                        product.product_thumbnail.original_url :
                        'assets/images/product.png'" class="img-fluid" [alt]="'product'">
        </a>
        <div class="product-header-top" *ngIf="close">
            <app-button [class]="'btn wishlist-button close_button'" [spinner]="false" [id]="'close_btn'" (click)="removeWishlist(product.id)">
                <i class="ri-close-line"></i>
            </app-button>
        </div>
        <app-product-hover-action [product]="product" *ngIf="!close"></app-product-hover-action>
    </div>
    <div class="product-detail">
        <a [routerLink]="['/product/', product.slug]">
            <h6 class="product-title">{{ product.name }}</h6>
        </a>
      
        <div class="d-flex product-flex gap-3 align-items-center">
            <h5 class="product-price m-0">
                <span class="price">{{ product.sale_price | currencySymbol }}</span>
                <del *ngIf="product.discount" class="original-price">{{ product.price | currencySymbol }}</del>
            </h5>
            <div class="product-rating m-0">
                <div class="rating-badge">
                    <i class="ri-star-fill"></i>
                    <span class="rating-value">{{ (product.rating_count || 0) | number:'1.1-1' }}</span>
                </div>
            </div>
          
        </div>
        <div class="add-to-cart-section">
            <app-button [class]="'btn add-to-cart-btn'" [spinner]="false" [style]="'background-color: #28595F; border-color: #28595F; color: white;'" (click)="openCartPopupModal()">
                Add to Cart
            </app-button>
        </div>
    </div>
</div>
<app-product-detail-modal #productDetailModal [product]="product"></app-product-detail-modal>
<app-variation-modal #variationModal></app-variation-modal>
<app-cart-popup-modal #cartPopupModal></app-cart-popup-modal>